.features {
  display: flex;
  align-items: center;
  padding: 8rem 0;
  width: 100%;
}

.sectionTitle {
  font-size: 4rem;
  margin-bottom: 4rem;
  color: var(--ifm-color-primary);
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: -0.05em;
}

.featureCard {
  border: 6px solid var(--ifm-color-primary);
  padding: 4rem 3rem;
  height: 100%;
  transition: all 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

[data-theme='dark'] .featureCard {
  background-color: #001a33;
  border-color: var(--ifm-color-primary);
}

.featureCard:hover {
  transform: translate(-8px, -8px);
  box-shadow: 12px 12px 0px #000;
}

[data-theme='dark'] .featureCard:hover {
  box-shadow: 12px 12px 0px var(--ifm-color-primary);
}

.featureSvg {
  height: 180px;
  width: 100%;
  margin-bottom: 3rem;
}

.featureTitle {
  font-size: 2.2rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
  color: var(--ifm-color-primary);
  line-height: 1.1;
  font-weight: 800;
}

[data-theme='dark'] .featureTitle {
  color: var(--ifm-color-primary-lightest);
}

.featureDescription {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 1rem;
  line-height: 1.5;
  opacity: 0.8;
}
